@font-face {
  font-family: "AliconnectIcon";
  src: url("aliconnect-icon.woff") format("woff"), url("aliconnect-icon.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
[class^="icn-"] {
  font-family: AliconnectIcon;
  font-style: normal;
}
.icn-menu::before,.abtn.menu::before{content:'\f05c';}
.icn-more::before,.abtn.more::before{content:'\f01b';}
.icn-help::before,.abtn.help::before{content:'\f02e';}
.icn-dark::before,.abtn.dark::before{content:'\f333';}
.icn-tools::before,.abtn.tools::before{content:'\f01a';}
.icn-config::before,.abtn.config::before{content:'\f019';}
.icn-account::before,.abtn.account::before{content:'\f0ea';}
.icn-login::before,.abtn.login::before{content:'\f25b';}
.icn-logout::before,.abtn.logout::before{content:'\f25c';}
.icn-aliconnect::before,.abtn.aliconnect::before{content:'\f000';}
.icn-start::before,.abtn.start::before{content:'\f017';}
.icn-start-negative::before,.abtn.start-negative::before{content:'\f016';}
.icn-up::before,.abtn.up::before{content:'\f01c';}
.icn-down::before,.abtn.down::before{content:'\f01d';}
.icn-back::before,.abtn.back::before{content:'\f01e';}
.icn-next::before,.abtn.next::before{content:'\f01f';}
.icn-left::before,.abtn.left::before{content:'\f03f';}
.icn-right::before,.abtn.right::before{content:'\f040';}
.icn-return::before,.abtn.return::before{content:'\f020';}
.icn-check::before,.abtn.check::before{content:'\f022';}
.icn-close::before,.abtn.close::before{content:'\f021';}
.icn-pin::before,.abtn.pin::before{content:'\f09f';}
.icn-unpin::before,.abtn.unpin::before{content:'\f0a1';}
.icn-popout::before,.abtn.popout::before{content:'\f152';}
.icn-zoom::before,.abtn.zoom::before{content:'\f090';}
.icn-zoom-in::before,.abtn.zoom-in::before{content:'\f091';}
.icn-zoom-out::before,.abtn.zoom-out::before{content:'\f092';}
.icn-msg::before,.abtn.msg::before{content:'\f08e';}
.icn-at::before,.abtn.at::before{content:'\f03c';}
.icn-or::before,.abtn.or::before{content:'\f03d';}
.icn-brackets::before,.abtn.brackets::before{content:'\f03e';}
.icn-undo::before,.abtn.undo::before{content:'\f023';}
.icn-redo::before,.abtn.redo::before{content:'\f024';}
.icn-cut::before,.abtn.cut::before{content:'\f00f';}
.icn-copy::before,.abtn.copy::before{content:'\f00e';}
.icn-paste::before,.abtn.paste::before{content:'\f011';}
.icn-clear::before,.abtn.clear::before{content:'\f162';}
.icn-check-mark::before,.abtn.check-mark::before{content:'\f06c';}
.icn-cross-mark::before,.abtn.cross-mark::before{content:'\f06d';}
.icn-cross-mark-small::before,.abtn.cross-mark-small::before{content:'\f3f8';}
.icn-check-mark-squared-negative::before,.abtn.check-mark-squared-negative::before{content:'\f06e';}
.icn-check-mark-squared::before,.abtn.check-mark-squared::before{content:'\f06f';}
.icn-forecolor::before,.abtn.forecolor::before{content:'\f036';}
.icn-backcolor::before,.abtn.backcolor::before{content:'\f15f';}
.icn-bold::before,.abtn.bold::before{content:'\f030';}
.icn-italic::before,.abtn.italic::before{content:'\f031';}
.icn-underline::before,.abtn.underline::before{content:'\f02f';}
.icn-strikeThrough::before,.abtn.strikeThrough::before{content:'\f236';}
.icn-fontsize::before,.abtn.fontsize::before{content:'\f1db';}
.icn-fontname::before,.abtn.fontname::before{content:'\f4b1';}
.icn-switchMode::before,.abtn.switchMode::before{content:'\f545';}
.icn-removeFormat::before,.abtn.removeFormat::before{content:'\f037';}
.icn-insertorderedlist::before,.abtn.insertorderedlist::before{content:'\f0ff';}
.icn-insertunorderedlist::before,.abtn.insertunorderedlist::before{content:'\f066';}
.icn-justifyleft::before,.abtn.justifyleft::before{content:'\f06b';}
.icn-justifycenter::before,.abtn.justifycenter::before{content:'\f06a';}
.icn-justifyright::before,.abtn.justifyright::before{content:'\f069';}
.icn-justifyfull::before,.abtn.justifyfull::before{content:'\f4f2';}
.icn-indent::before,.abtn.indent::before{content:'\f062';}
.icn-outdent::before,.abtn.outdent::before{content:'\f061';}
.icn-superscript::before,.abtn.superscript::before{content:'\f238';}
.icn-subscript::before,.abtn.subscript::before{content:'\f239';}
.icn-blockquote::before,.abtn.blockquote::before{content:'\f4a4';}
.icn-code::before,.abtn.code::before{content:'\f237';}
.icn-link::before,.abtn.link::before{content:'\f015';}
.icn-unlink::before,.abtn.unlink::before{content:'\f22b';}
.icn-add::before,.abtn.add::before{content:'\f025';}
.icn-edit::before,.abtn.edit::before{content:'\f00b';}
.icn-del::before,.abtn.del::before{content:'\f00d';}
.icn-fav::before,.abtn.fav::before{content:'\f002';}
.icn-fav-checked::before,.abtn.fav-checked::before{content:'\f001';}
.icn-flag::before,.abtn.flag::before{content:'\f094';}
.icn-negative-flag::before,.abtn.negative-flag::before{content:'\f095';}
.icn-lock::before,.abtn.lock::before{content:'\f0a2';}
.icn-unlock::before,.abtn.unlock::before{content:'\f0a3';}
.icn-key::before,.abtn.key::before{content:'\f0a4';}
.icn-attach::before,.abtn.attach::before{content:'\f013';}
.icn-image::before,.abtn.image::before{content:'\f014';}
.icn-camera::before,.abtn.camera::before{content:'\f100';}
.icn-camera-toggle::before,.abtn.camera-toggle::before{content:'\f102';}
.icn-paint::before,.abtn.paint::before{content:'\f2d5';}
.icn-checked::before,.abtn.checked::before{content:'\f06c';}
.icn-box::before,.abtn.box::before{content:'\f071';}
.icn-done::before,.abtn.done::before{content:'\f140';}
.icn-warning::before,.abtn.warning::before{content:'\f13e';}
.icn-alert::before,.abtn.alert::before{content:'\f10c';}
.icn-search::before,.abtn.search::before{content:'\f018';}
.icn-filter::before,.abtn.filter::before{content:'\f012';}
.icn-select::before,.abtn.select::before{content:'\f52c';}
.icn-refresh::before,.abtn.refresh::before{content:'\f082';}
.icn-sort::before,.abtn.sort::before{content:'\f322';}
.icn-sorta::before,.abtn.sorta::before{content:'\f323';}
.icn-upload::before,.abtn.upload::before{content:'\f049';}
.icn-download::before,.abtn.download::before{content:'\f048';}
.icn-share::before,.abtn.share::before{content:'\f12b';}
.icn-public::before,.abtn.public::before{content:'\f108';}
.icn-trash::before,.abtn.trash::before{content:'\f233';}
.icn-save::before,.abtn.save::before{content:'\f00c';}
.icn-view::before,.abtn.view::before{content:'\f0d4';}
.icn-pdf::before,.abtn.pdf::before{content:'\f122';}
.icn-printdoc::before,.abtn.printdoc::before{content:'\f11f';}
.icn-printmenu::before,.abtn.printmenu::before{content:'\f11f';}
.icn-print::before,.abtn.print::before{content:'\f0ad';}
.icn-network::before,.abtn.network::before{content:'\f1cf';}
.icn-qrscan::before,.abtn.qrscan::before{content:'\f100';}
.icn-slide::before,.abtn.slide::before{content:'\f1ab';}
.icn-cols::before,.abtn.cols::before{content:'\f0c8';}
.icn-rows::before,.abtn.rows::before{content:'\f05e';}
.icn-table::before,.abtn.table::before{content:'\f06b';}
.icn-ganth::before,.abtn.ganth::before{content:'\f39d';}
.icn-chart::before,.abtn.chart::before{content:'\f226';}
.icn-model::before,.abtn.model::before{content:'\f1cf';}
.icn-maps::before,.abtn.maps::before{content:'\f093';}
.icn-model2d::before,.abtn.model2d::before{content:'\f0fd';}
.icn-model3d::before,.abtn.model3d::before{content:'\f0fe';}
.icn-show3d::before,.abtn.show3d::before{content:'\f0fe';}
.icn-calendar::before,.abtn.calendar::before{content:'\f0e4';}
.icn-month::before,.abtn.month::before{content:'\f0e4';}
.icn-week::before,.abtn.week::before{content:'\f0e2';}
.icn-workweek::before,.abtn.workweek::before{content:'\f0e7';}
.icn-day::before,.abtn.day::before{content:'\f0e5';}
.icn-today::before,.abtn.today::before{content:'\f0e6';}
.icn-clock::before,.abtn.clock::before{content:'\f13b';}
.icn-clock-finish::before,.abtn.clock-finish::before{content:'\f13c';}
.icn-history::before,.abtn.history::before{content:'\f07b';}
.icn-task::before,.abtn.task::before{content:'\f010';}
.icn-taskboard::before,.abtn.taskboard::before{content:'\f011';}
.icn-mail::before,.abtn.mail::before{content:'\f0b4';}
.icn-mail-read::before,.abtn.mail-read::before{content:'\f0b5';}
.icn-mail-forward::before,.abtn.mail-forward::before{content:'\f0b6';}
.icn-mail-reply::before,.abtn.mail-reply::before{content:'\f0b7';}
.icn-mail-replyall::before,.abtn.mail-replyall::before{content:'\f0b8';}
.icn-mail-import::before,.abtn.mail-import::before{content:'\f27f';}
.icn-mail-send::before,.abtn.mail-send::before{content:'\f08b';}
.icn-negative-mail-send::before,.abtn.negative-mail-send::before{content:'\f08c';}
.icn-enterprise::before,.abtn.enterprise::before{content:'\f0f9';}
.icn-site::before,.abtn.site::before{content:'\f0f8';}
.icn-team::before,.abtn.team::before{content:'\f0eb';}
.icn-contact::before,.abtn.contact::before{content:'\f0f1';}
.icn-contact-add::before,.abtn.contact-add::before{content:'\f0f0';}
.icn-contact-lock::before,.abtn.contact-lock::before{content:'\f0ef';}
.icn-contact-private::before,.abtn.contact-private::before{content:'\F38F';}
.icn-contact-stop::before,.abtn.contact-stop::before{content:'\f0ee';}
.icn-contact-card::before,.abtn.contact-card::before{content:'\f0ec';}
.icn-contactmessage::before,.abtn.contactmessage::before{content:'\f0f3';}
.icn-webpage::before,.abtn.webpage::before{content:'\f12c';}
.icn-phone::before,.abtn.phone::before{content:'\f112';}
.icn-shop::before,.abtn.shop::before{content:'\f0b0';}
.icn-bagAdd::before,.abtn.bagAdd::before{content:'\f0b1';}
.icn-shopbag::before,.abtn.shopbag::before{content:'\f0b3';}
.icn-kassa::before,.abtn.kassa::before{content:'\f0ae';}
.icn-scanner::before,.abtn.scanner::before{content:'\f0b2';}
.icn-invoice::before,.abtn.invoice::before{content:'\f0af';}
.icn-product::before,.abtn.product::before{content:'\f0c4';}
.icn-asset::before,.abtn.asset::before{content:'\f0c4';}
.icn-folder::before,.abtn.folder::before{content:'\f0d9';}
.icn-folder-add::before,.abtn.folder-add::before{content:'\f0dc';}
.icn-folder-refresh::before,.abtn.folder-refresh::before{content:'\f0de';}
.icn-folder-upload::before,.abtn.folder-upload::before{content:'\f0da';}
.icn-folder-import::before,.abtn.folder-import::before{content:'\f0db';}
.icn-document::before,.abtn.document::before{content:'\f11e';}
.icn-doc::before,.abtn.doc::before{content:'\f11e';}
.icn-doctxt::before,.abtn.doctxt::before{content:'\f22c';}
.icn-data::before,.abtn.data::before{content:'\f123';}
.icn-datareadonly::before,.abtn.datareadonly::before{content:'\f124';}
.icn-dataprivate::before,.abtn.dataprivate::before{content:'\f125';}
.icn-msexcel::before,.abtn.msexcel::before{content:'\f245';}
.icn-msword::before,.abtn.msword::before{content:'\f248';}
.icn-ext-pdf::before,.abtn.ext-pdf::before{content:'\f122';}
.icn-ext-zip::before,.abtn.ext-zip::before{content:'\f22d';}
.icn-ext-xls::before,.abtn.ext-xls::before{content:'\f245';}
.icn-ext-doc::before,.abtn.ext-doc::before{content:'\f248';}
.icn-ext-docx::before,.abtn.ext-docx::before{content:'\f248';}
.icn-ext-xlsx::before,.abtn.ext-xlsx::before{content:'\f245';}
.icn-ext-ppt::before,.abtn.ext-ppt::before{content:'\f247';}
.icn-ext-pptx::before,.abtn.ext-pptx::before{content:'\f247';}
.icn-ext-vsd::before,.abtn.ext-vsd::before{content:'\f24a';}
.icn-ext-vsdx::before,.abtn.ext-vsdx::before{content:'\f24a';}
.icn-typical::before,.abtn.typical::before{content:'\f153';}
.icn-source::before,.abtn.source::before{content:'\f14b';}
.icn-showInherited::before,.abtn.showInherited::before{content:'\f14a';}
.icn-clone::before,.abtn.clone::before{content:'\f14d';}
.icn-revert::before,.abtn.revert::before{content:'\f14d';}
.icn-derived::before,.abtn.derived::before{content:'\f14c';}
.icn-inherit::before,.abtn.inherit::before{content:'\f14c';}
.icn-class::before,.abtn.class::before{content:'\f153';}
.icn-device::before,.abtn.device::before{content:'\f173';}
.icn-iointerface::before,.abtn.iointerface::before{content:'\f1ce';}
.icn-controller::before,.abtn.controller::before{content:'\f1cd';}
.icn-iomodule::before,.abtn.iomodule::before{content:'\f1b2';}
.icn-system::before,.abtn.system::before{content:'\f0cb';}
.icn-signal::before,.abtn.signal::before{content:'\f29d';}
.icn-io::before,.abtn.io::before{content:'\f29e';}
.icn-controlio::before,.abtn.controlio::before{content:'\f29e';}
.icn-controlinput::before,.abtn.controlinput::before{content:'\f29a';}
.icn-controloutput::before,.abtn.controloutput::before{content:'\f29b';}
.icn-controlinoutput::before,.abtn.controlinoutput::before{content:'\f29c';}
.icn-plm::before,.abtn.plm::before{content:'\f0c6';}
.icn-se::before,.abtn.se::before{content:'\f0c6';}
.icn-softwarefunction::before,.abtn.softwarefunction::before{content:'\f10e';}
.icn-attribute::before,.abtn.attribute::before{content:'\f0fa';}
.icn-schema-Contact::before,.abtn.schema-Contact::before{content:'\f0f1';}
.icn-schema-Enterprise::before,.abtn.schema-Enterprise::before{content:'\f329';}
.icn-schema-Site::before,.abtn.schema-Site::before{content:'\f32a';}
.icn-schema-Area::before,.abtn.schema-Area::before{content:'\f32b';}
.icn-schema-ProcessCell::before,.abtn.schema-ProcessCell::before{content:'\f3a4';}
.icn-schema-Unit::before,.abtn.schema-Unit::before{content:'\f32c';}
.icn-schema-EquipmentModule::before,.abtn.schema-EquipmentModule::before{content:'\f32d';}
.icn-schema-ControlModule::before,.abtn.schema-ControlModule::before{content:'\f32e';}
.icn-schema-System::before,.abtn.schema-System::before{content:'\f0cb';}
.icn-schema-Webpage::before,.abtn.schema-Webpage::before{content:'\f12c';}
.icn-schema-Device::before,.abtn.schema-Device::before{content:'\f173';}
.icn-schema-Control::before,.abtn.schema-Control::before{content:'\f0c4';}
.icn-schema-ControlIO::before,.abtn.schema-ControlIO::before{content:'\f29e';}
.icn-schema-Attribute::before,.abtn.schema-Attribute::before{content:'\f0fa';}
.icn-books::before,.abtn.books::before{content:'\f0d5';}
