.listview:not(:empty) {
  background: inherit;
  padding-top: 36px;
}
.listview:empty+hr+#colpage {
  max-width:none !important;
}
.listview input[type='number'] {
  width: 50px;
  border: none;
  padding: 0;
  margin: 0;
}
.listview li[copysel] div {
  background-color: var(--new);
}
.listview table {
  border-collapse: collapse;
}
.listview tr[href]:hover {
  background-color: var(--trans1);
  cursor: pointer;
}
.listview thead {
  font-family: "Segoe UI Light", "Segoe WP", sans-serif, Tahoma, Arial;
}
.listview thead>tr>:last-child {
  width:100%;
}
.listview th, .listview td {
  padding: 5px;
  white-space: nowrap;
}
.listview th {
  text-align: left;
  /* font-weight: normal; */
  border-bottom: solid 1px var(--trans2);
}
.listview .afilter {
  background-color: var(--trans1);
  font-size: 12pt;
  overflow-y: auto;
  margin: 0;
  padding: 0;
  list-style: none;
}
.listview .afilter:empty+.seperator {
  display: none;
}
.listview .afilter:not(:empty) {
  max-width: 150px;
  flex-basis: 500px;
  flex-shrink: 0;
  border-right: solid 1px var(--trans2);
}
.listview .list {
  margin: 0;
  padding: 0;
  list-style: none;
}
.listview>.row.top>span {
  padding: 0 5px;
}
.listview .btnbar .Title {
  margin-right: auto;
}
.listview .afilter {
  font-family: "Segoe UI Light", "Segoe WP", sans-serif, Tahoma, Arial;
}
.listview .afilter li {
  padding: 0 5px;
}
.listview .afilter>li, .listview .afilter>li>ul {
  list-style: none;
  padding: 0;
  margin: 0;
  line-height: 26px;
}
.listview .afilter li[focus] {
  background-color: var(--trans5);
}
.listview .afilter>li>a {
  line-height: 30px;
  padding: 0 0 0 5px;
  text-overflow: ellipsis;
}
.listview .afilter>li[cnt='0'] {
  display: none;
}
.listview .afilter>li>ul>li>* {
  cursor: pointer;
}
.listview .afilter>li>ul>.meer::after {
  content: 'meer';
  font-size: 0.8em;
  /* display: block; */
  padding: 5px;
  cursor: pointer;
  opacity: 0.5;
}
.listview .afilter>li>ul>.meer:hover::after {
  opacity: 1;
}
.listview .afilter>li>ul:not([meer='1'])>:nth-child(n+6):not(.meer) {
  position: absolute;
  display: none;
}
.listview .afilter>li>ul[meer='1']>.meer::after {
  content: 'minder';
}
.listview .afilter li>a:hover,.listview .afilter li>ul>li:hover {
  background-color: var(--trans2);
}
.listview .afilter>li>ul>li>label {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
.listview .afilter li[open='0']>ul {
  display:none
}
.listview .afilter:not(:hover) li>a::after {
  opacity: 0;
}
.listview .doc {
  max-width:100%;
}
.listview .mc-menu {
  flex-basis: 300px;
  flex-shrink: 0;
}
.listview[hidefilter='1'] .col.afilter {
  display: none;
}
.listview[hidefilter='1'] .abtn.select {
  opacity: 0.5;
}
.listview nav.row {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  line-height: 30px;
  height: 30px;
}
.listview nav.row a {
  max-width:50%;
  /* max-width:90%; */
  /* overflow: hidden; */
  /* text-overflow: ellipsis; */
  /* display:inline-block; */
}
.listview nav.row a>small {
  /* max-width:40%; */
  overflow: hidden;
  text-overflow: ellipsis;
  /* max-width:90%; */
  /* white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis; */
}
.listview nav.row a.next {
  margin-left: auto;
}


.itemrow {
  min-height: 72px;
  border-bottom: solid 1px var(--trans1);
  border-right: solid 1px transparent;
  /* border-left: solid 5px transparent; */
  line-height: 20px;
  margin: 0;
  /* overflow: hidden; */
}
.itemrow .modified {
  /* position: absolute; */
  display: inline-block;
  width: 5px;
  /* margin:auto; */
  /* left:0; */
  /* top:0; */
  /* bottom:0; */
}
.itemrow[Status='nieuw']::before {
  content: 'Te betalen';
  font-size: 12pt;
  text-transform: uppercase;
  display: block;
  width: 120px;
  padding: 10px;
  background: red;
  color: yellow;
  transform: rotate(45deg);
  text-align: center;
  position: absolute;
  top: 10px;
  right: -45px;
}
.itemrow .shopbag input.addbag {
  line-height:20px;
  /* width:80px; */
}
.itemrow[online=true]>.itemicon {
  border-color: greenyellow;
}
.itemrow>.inline {
  padding: 10px 5px 5px 0;
  width: 100px;
}
.itemrow .icon>.state {
  width: 5px;
  height: 100%;
}
.itemrow .icon>.cat {
  width: auto;
}
.itemrow .icon>.msg::before {
  content: '\f06d';
}
.itemrow.new {
  background-color: var(--new);
}
.itemrow.new:hover {
  background-color: var(--new_hover);
}
.itemrow>.aimcontent>div>span {
  max-height: 46px;
  overflow: hidden;
  display: inline-block;
}
.itemrow ul {
  list-style: none;
  padding: 0;
}
.itemrow ul label {
  color: #999;
}
.itemrow ul label::after {
  content: ":";
  margin-right: 5px;
}
.itemrow div.state {
  width: 4px;
  z-index: 1;
}
.itemrow.pageItem {
  background-color: rgba(220,236,249,0.4) !important;
}
.itemrow .Voorraad[voorraad='0'] {
  color: black;
}
.itemrow>.link {
  margin-top: 5px;
}
.itemrow>.link>a {
  display: inline-block;
  border: solid 1px green;
  color: green;
  border-radius: 10px;
  line-height: 16px;
  padding: 0 5px 0 20px;
  background: no-repeat 5px center;
  background-size: contain;
}
.itemrow>.link>a.BackgroundExperience {
  background-image: url(/aim/img/btn/app_person.png);
}
.itemrow.zoekverder {
  background: transparent;
  color: white;
  cursor: pointer;
}
.itemrow>ul {
  list-style: none;
  padding: 0;
}
.itemrow[state='Oud Lid'] {
  opacity: 0.8;
}
.itemrow.ghost {
  height: 0 !important;
  min-height: 0 !important;
  visibility: hidden !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  padding-top: 0 !important;
  padding-bottom: 0 !important;
  margin-top: 0 !important;
  margin-bottom: 0 !important;
  border-top: none !important;
  border-bottom: none !important;
}
.itemrow .operations>a {
  margin-right: 5px;
}
.itemrow .operations>a:hover {
  text-decoration: underline;
}
.itemrow .cat {
  position: absolute;
  top: 0px;
  left: 75px;
}
.itemrow .cat>span {
  display: inline-block;
  height: 5px;
  width: 37px;
  vertical-align: top;
}
.itemrow>.aco>div {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  height:20px;
  line-height:20px;
}
.itemrow .Prijs {
  font-weight: 500;
  color: orangered;
  font-size: 12pt;
}
.itemrow .Advies {
  text-decoration: line-through;
  margin-right: 10px;
}
.itemrow .Prijs::before, .itemrow .Advies::before {
  content: '€ ';
}
.itemrow .prijscontent input {
  width: 46px;
  border: solid 1px gray;
}
.itemrow .prijscontent .Voorraad {
  color: green;
  padding: 5px 0;
}
.itemrow.actie::after {
  content: 'actie';
  position: absolute;
  display: block;
  transform: rotate(40deg);
  width: 200px;
  text-align: center;
  height: 30px;
  background: orange;
  font-size: 20pt;
  top: 20px;
  right: -60px;
}
.itemrow.uwprijs::after {
  content: 'Uw prijs';
  position: absolute;
  display: block;
  transform: rotate(40deg);
  width: 200px;
  text-align: center;
  height: 30px;
  background: yellow;
  font-size: 20pt;
  top: 20px;
  right: -60px;
}
.itemrow button.bestel {
  background-color: orange;
  width: 46px;
  height: 30px;
  padding: 0;
  margin: 0;
  border-radius: 5px;
  border: none;
}
.itemrow .icn.del:hover::before {
  color: red; opacity: 1;
}
.itemrow .icn.fav:hover::before {
  color: yellow; opacity: 1;
}
.itemrow .icn.flag:hover::before {
  color: red; opacity: 1;
}
.itemrow:hover {
  background-color: var(--trans1);
  cursor: pointer;
}
.itemrow .kop0 span.aco {
  overflow: hidden;text-overflow: ellipsis;
}
.itemrow .kop0 div {
  padding:0 2px;
}
.itemrow:not(:hover) .fav:not([checked='1']), .itemrow:hover .hdn,.itemrow:not(:hover) .del {
  position: absolute;
  display: none;
}
.itemrow:not(:hover) .operations {
  display: none;
}
.itemrow:hover .flag[flag='']::before {
  content: '\f095';
}
body[view='cols'] .itemrow {
  min-height: 440px;
  padding:10px;
  border-right-color: var(--trans2);
  border-bottom-color: var(--trans2);
  flex-direction: column;
}
body[view='cols'] .col.list {
  display: grid;
  grid-template-columns: repeat(auto-fill,minmax(200px, 1fr));
}
body[view='cols'] .col.list>li {
}
body[view='cols'] .inline .prop.row {
  flex-flow: column;
}
body[view='cols'] .inline li {
  list-style: circle;
  margin-left: 15px;
}
body[view='rows'] .itemrow>.aco {
  width: 0;
}
body[view='rows'] .inline li::after {
  content: ',';
  margin-right: 5px;
}
body[view='rows'] .itemrow>.itemicon {
  margin:5px;
  width: 40px;
  height: 40px;
  font-size: 20px;
  line-height: 40px;
  text-align: center;
  /* background: center no-repeat var(--trans2); */
}
body[view='cols'] .itemrow>.itemicon::before {
  position: absolute;
  top:0;
  bottom:0;
  left:0;
  right:0;
  margin:auto;
  text-align: center;
  font-size: 30px;
  height: 30px;
}
body[view='cols'] .itemrow>.itemicon {
  height: 300px;
  width: 100%;
}
body[view='cols'] .itemrow>.itemicon img {
  height: 100%;
  width: 100%;
  object-fit: contain;
  background-color: white;
}
body[view='rows'] .itemrow img {
  /* max-width: 100%;
  max-height: 300px; */
  /* display: block; */
  object-fit: cover;
  width: 100%;
  height: 100%;
  border-radius:200px;
  position: absolute;
  top:0;
  /* bottom:0; */
  left:0;
  background-color:white;
  /* right:0; */
  /* margin:auto; */
}
body[view='rows'] .itemrow .shopbag .icn.bagAdd::before {
  /* content: '+1'; */
  font-size: 10pt;
}
.atv {
  /* padding-top: 36px; */
  /* max-width: 260px; */
  flex-shrink: 0;
  width: 100%;
  /* overflow:auto; */
  /* z-index:2; */
  background-color:var(--trans05);
  /* border-left:solid 1px var(--trans2); */
  border-right:solid 1px var(--trans1);
  line-height: 24px;
}
body[tv]>.main>.atv {
  position: absolute;
  transition: all 300ms;
  background: var(--bg);
  color: var(--fg);
  z-index: 300;
  height: 100%;
}
body[tv="0"]>.main>.atv {
  left: -100%;
}
body[tv="1"]>.main>.atv {
  left: 0;
}

.atv a:link, .atv a:visited, .atv a {
  color:inherit;
}
.atv ul {
  list-style:none;
  padding: 0;
  margin: 0;
}
.atv details, .atv ul {
  position:unset;
}
.atv details>summary {
  list-style: none;
  outline: none;
  white-space: nowrap;
  /* display: block; */
  font-weight: 400;
  cursor: pointer;
  /* height: 30px; */
  /* line-height: 28px; */
  /* font-size: 10pt; */
  /* border-top: solid 1px transparent; */
  /* border-bottom: solid 1px transparent; */
}
.atv details>summary .title span {
  overflow: hidden;
  text-overflow: ellipsis;
}
/* safari bugs */
@media not all and (min-resolution:.001dpcm) {
  @media {
    .atv details>summary,     .atv details>summary .title {
      display: inline-block;
      /* color:green !important; */

    }
    .atv details>summary .title {
      /* display: inline-block; */

    }
    .atv details>summary .title i {
      float: right;

    }

  }
}
.atv details>summary>.aco {
  font-size: 0.8em;
}
.atv .open:before {
  font-size: 0.7em;
}
.atv details>summary>.State {
  display: inline-block;
  position: absolute;
  width: 8px;
  height: 8px;
  border-radius: 20px;
  margin-left: 15px;
  margin-top: 5px;
  z-index: 1;
}
.atv details>summary>sel {
  display:inline-block;
  vertical-align:middle;
  font-size:14px;
  color:#aaa;
  width:12px;
  height:12px;
  font-family:'AliconnectIcon';
  margin-right:3px;
}
.atv details>summary>span {
  /* line-height:30px; */
  overflow:hidden;
  text-overflow:ellipsis;
  white-space:nowrap;
}
.atv .open {
  width:16px;
  display: inline-block;
  flex-shrink: 0;
}
.atv details[sel='0'] {
  opacity:0.5;
}
.atv details>summary.row {
  text-decoration: none;
  color:inherit;
  cursor: pointer;
}
.atv details>summary>.icn {
  color: rgb(180,180,180);
}
.atv details>summary>.icn:before {
  margin-right: 3px;
}
.atv details>summary .title[schemaPath]:not([schemaPath=""]):after {
  font-family: "Segoe UI Light";
  /* content: ':' attr(sourceName)':' attr(schemaName); */
  /* content: ':' attr(schemaName); */
  content: ':' attr(schemaPath);
  color: var(--trans8);
  font-size: 0.9em;
}
.atv details>summary .title[caption]:before {
  content: attr(caption);
  margin-right: 5px
}
.atv details>summary .title>i:before {
  color: var(--trans8);
  font-size: 0.8em;
  margin-right: 5px
}
.atv details:not([subCnt="0"])[open='true']>.row>open::before {
  opacity:1;
}
.atv details:not([subCnt="0"])>.row>open::before {
  opacity:0.5;
}
.atv details:not([subCnt="0"])>.row>open:hover::before {
  opacity:1;
}
.atv summary[dropElement=''] {
  background-color:var(--trans4);
  z-index:10;
}
.atv summary[dropElement='after']:after {
  content:'';
  display:inline-block;
  position:absolute;
  bottom:-1px;
  height:2px;
  width:100%;
  background:blue;
  left:0;
  z-index:10;
}
.atv summary[dropElement='before']:after {
  content:'';
  display:inline-block;
  position:absolute;
  top:-2px;
  height:2px;
  width:100%;
  background:blue;
  left:0;
  z-index:10;
}
.atv .list>details>summary {
  line-height: 40px;
}
.atv .abt::before {
  content:'';
}
.atv .abt {
  background:none;
}
.atv .abt::before {
  width:20px;
  height:28px;
  min-width:20px;
  background-size:20px auto;
  padding-left:5px;
}
.atv input {
  padding:0;
  margin:0;
  border:0;
  background:inherit;
  color:inherit;
  flex-basis:auto;
  flex-grow:1;
  outline:none;
  /* background-color: var(--bg);
  color: var(--fg); */
  /* background:white; */
  /* color:rgb(20,100,170); */
  /* display:block; */
  font: inherit;
  line-height: inherit;
  /* font-weight: 400; */
  width: 100%;
  /* height:100%; */
}
.atv .row::before {
  min-width:0;
}
.atv details[open="1"]>div>.flag {
  display:none;
}
.atv details {
  padding-left:10px;
}
.atv details>summary>i.open {
  font-style: normal;
  /* opacity: 0.5; */
  /* opacity: 0; */
  cursor: pointer;
  transition: all 0.5s;
}
.atv details>summary>i.open::before {
  font-family: aliconnectIcon;
  content: "\f01f";
  display: inline-block;
  /* transition-duration: all 2s; */
  /* opacity: 0.8; */
  /* color: rgb(180,180,180); */
}
.atv details[open]>summary>i.open:hover::before {
  font-weight: bold;
  color: DodgerBlue;
  /* text-shadow: 0px 0px 2px DodgerBlue; */
}
.atv details[open]>summary>i.open::before {
  transform: rotate(90deg);
}
.atv:hover summary>i.open {
  opacity:0.7;
}
.atv:hover details[open="1"]>summary>i.open {
  opacity: 1;
}
.atv details:not([hasChildren])>summary>i.open {
  visibility: hidden;
}
body>dialog {
  position:fixed;
  border: solid 1px #ccc;
  border: none;
  /* display:inline-block; */
  margin:auto;
  top: 48px;
  bottom: 0;
  left: auto;
  right: -100px;
  width: 300px;
  /* height:300px; */
  height: auto;
  background: yellow;
}
body>dialog['open'] {
  right: 0px;
}
@media (min-width: 400px) {
  .om .prompt {
    /* min-width: 400px; */
    /* border-left: var(--border); */
    /* width: auto; */

  }
}
