form.product {
  display: flex;
  /* line-height: 30px; */
}
form.product>div {
  flex: 1 0 auto;
  margin-right:auto;
  text-align: right;
}
form.product>div span {
  margin: 0 5px;
}
form.product .small {
  font-size: 0.8em;
  color: rgba(180,180,180,0.8);
}
.bruto {
  text-decoration: line-through;
}
.netto {
  color: orange;
}
.incl {
  margin: 0 5px;
}
.product input {
  width: 40px;
  border: solid 1px rgba(180,180,180,0.4);
  padding: 5px;
  flex: 0 0 auto;
  text-align: right;
}
.product button {
  border-radius: 5px;
  width: 24px;
  border: none;
  background:green;
}
.inkkorting {
  /* width: 120px; */
  text-align: right;
  white-space: nowrap;
}
nav>.title {
  display: block;
  position: absolute;
  left:0;
  right:0;
  /* margin: auto;
  width:50%; */
  text-align: center;
}
div.search {
  display: flex;
  position: sticky;
  position: -webkit-sticky;
  top: 36px;
  padding: 5px;
  z-index: 1;
  background: inherit;
  transition: all 500ms;
}
div.search input {
  border-radius: 10px;
  background-color: rgba(180,180,180,0.3);
  padding: 10px;
  margin: 5px;
}
