html{
  --border: solid 1px rgba(180,180,180,0.3);
  --bg-trans: rgba(180,180,180,0.1);
}
html,body{
  /* height:100vh;  */
  margin:0;
  padding:0;
}
body {
  position: fixed; top:0; bottom:0; left:0; right: 0;
  display: flex;
  padding-top: 48px;
  padding-bottom: 24px;
}
body, aside, article, section, footer, nav { display: flex; background: inherit; }
aside, article { flex-flow: column; overflow: auto; }
aside, section, footer, nav { flex: 0 0 auto; }
aside, section, footer { overflow: hidden; }
article, section { flex: 1 1 auto; }
body:empty, aside:empty, article:empty, section:empty, nav:empty, footer:empty { display: none; }
nav { height: 36px; line-height: 36px; z-index: 1; background-color: var(--bg-trans); }
nav>span { margin-right: auto; }
nav button {
  border: solid 2px transparent;
  font: inherit;
  cursor: pointer;
  /* float: right; */
  /* display: inline-block; */
  background-color: var(--bg-trans);
  color: inherit;
  padding: 0 20px;
  margin: 0;
}

body>nav {
  position: absolute; margin:auto; top: 0; left:0; right: 0;
  height: 48px;
  line-height: 48px;
  background: blue;
}
body>footer {
  position: absolute; margin:auto; bottom: 0; left:0; right: 0;
  height: 24px;
  line-height: 24px;
  background: gray;
}

summary::marker, summary::-webkit-details-marker {
  display: none;
}
details>details {
  padding-left:10px;
}
details>summary {
  display: flex;
  line-height: 20px;
  padding: 5px 5px 5px 20px;
  outline: none;
}
details>summary::before {
  font-family: aliconnectIcon;
  font-size: 0.8em;
  content: "\f01f";
  flex-shrink: 0;
  display: inline-block;
  width: 20px;
  left:0;
  text-align: center;
  position: absolute;

  /*
  width: 16px;
  height: 100%;
  vertical-align: text-bottom;
  text-align: center;
  transition: all 300ms;
  z-index: 1;
  */
}
details[open]>summary::before {
  transform: rotate(90deg);
}
details>summary:only-child::before{
  content: "";
}

table {
  background: inherit;
  border-collapse: collapse;
  width: max-content;
  /* background-color: var(--table-bg); */
}
thead{
  position: sticky;
  top:0;
  z-index: 1;
  border: none;
  background: inherit;
}
th{
  text-align: left;
  white-space: nowrap;
  vertical-align: top;
  border:none;
  padding:0;
}
th>div{
  padding: .5rem .5rem;
  border-bottom: solid 1px gray;
}
th>div.sort:after{
  content: 'V';
  display: inline-block;
  float: right;
  transform: rotate(180deg);
}
th>div.asc:after{
  transform: rotate(0deg);
}
td{
  white-space: nowrap;
  padding: .5rem .5rem;
  vertical-align: top;
}
tbody>tr:nth-of-type(odd) {
  background-color: var(--bg-trans);
}
tbody tr{
  border-top: var(--border);
  border-bottom: var(--border);
  border-spacing: 5px
}
table input, table button {
  border: var(--border);
  background: inherit;
  color: inherit;
  font: inherit;
  padding: 0 4px;
}
table input {
  max-width:80px;
}

tbody, td, tfoot, th, thead, tr {
  border-color: inherit;
  border-style: solid;
  border-width: 0;
}

nav button {
  text-align: left;
  padding: 0 10px;
}
nav button>div{
  background: var(--bg);
  position: absolute;
  white-space: nowrap;
  right:0;
  text-align: left;
  display: flex;
  flex-direction: column;
}
nav button:not(:hover)>div{
  display: none;
}

@media only screen and (max-width: 600px) {
  aside.left {
    transition: all 300ms;
    position:absolute;
    top:48px;
    left: -100%;
    bottom:0;
    width:80%;
    z-index: 1;
    background:red;
  }
}

.cards{
  display: flex;
}
.cards.rows {
  flex-direction: column;
}
.cards.rows>div {
  padding:10px;
}


.cards.cols {
  flex-wrap: wrap;
}
.cards.cols>* {
  flex: 1 0 250px;
  margin: 1px;
}
.cards.cols>div {
  padding:10px;
  border: solid 1px #ccc;
}

aside.filter {
  min-width:150px;
}
aside.filter div {
  cursor: pointer;
}
aside.filter div[cnt]::after{
  content: attr(cnt);
  float: right;
}
aside.filter div::before {
  content:'☐'
}
aside.filter div[checked]::before {
  content:'☑'
}
