@media (min-width: 400px) {
  form.login .col.msg,
  form.login .row.input {
    margin-right: 200px;
    overflow:hidden;
  }
}
h2 {
  margin:0;
}
@media only screen and (max-width: 600px) {
  .logo{ margin-top:20px; }
  #authcode { display:none; }
  /* .prompt {
    max-width: none;
    max-height: none;
  } */
}
#canvas {
  z-index:110;
}
/* @media all and (display-mode: standalone) {
  body {
    background-color: yellow;
  }
} */
.prompt {
  /* display: none; */
  /* position: fixed; */
  /* margin: auto; */
  margin: 0 auto;
  /* left: 0;
  top:0;
  bottom: 0; */
  /* width: 100%; */
  max-width: 100%;
  min-height: 451px;
  /* position: relative; */
  width: 500px;
  /* max-height: 500px; */
  /* height: -webkit-fill-available; */
  /* height: 100%; */
  background-color: inherit;
  overflow: hidden;
  /* padding: 10px; */
  z-index:100;
  /* padding: 20px 40px; */

  -webkit-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
  box-shadow: 0 2px 2px 0 rgb(0 0 0 / 14%), 0 3px 1px -2px rgb(0 0 0 / 12%), 0 1px 5px 0 rgb(0 0 0 / 20%);
}
.prompt>header {
  /* position: absolute; */
  border-bottom: 1px solid #dadce0;
  /* color: #3c4043; */
  /* font-family: 'Sans'; */
  font-size: 16px;
  /* font-weight: 500; */
  /* letter-spacing: .11px; */
  line-height: 30px;
  /* height: 54px; */
  padding: 10px 20px;
  font-family: "Segoe UI", "Segoe WP", sans-serif, Tahoma, Arial;
}
.prompt>header img {
  /* max-height: -webkit-fill-available; */
  max-height: 30px;
  margin-right:10px;
}
.prompt>.col {
  top: 54px;
  padding-bottom: 20px;
  height: auto;
  /* min-height: 500px; */
  /* padding: 50px 10px; */
  /* padding: 80px 40px 40px 40px; */
  /* min-height: 500px; */
}
.prompt>div>* {
  padding: 0 40px;
}
.prompt #authcode {
  position:absolute;
  right:0px;
  bottom:0px;
  width:auto;
}
